absl-py==0.2.2
appnope==0.1.0
array-split==0.5.2
astor==0.7.1
audioread==2.1.6
bleach==1.5.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
colorama==0.3.9
cycler==0.10.0
decorator==4.3.0
docopt==0.6.2
entrypoints==0.2.3
gast==0.2.0
gitdb2==2.0.3
GitPython==2.1.10
grpcio==1.13.0
idna==2.7
imageio==2.3.0
ipykernel==4.8.2
ipython==5.0.0
ipython-genutils==0.2.0
ipywidgets==7.2.1
Jinja2==2.10
joblib==0.12.1
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.0
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.4
jupyter-nbextensions-configurator==0.4.0
jupyter-tensorboard==0.1.6
Keras==2.1.6
kiwisolver==1.0.1
librosa==0.6.1
llvmlite==0.24.0
lxml==4.6.5
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
mglearn==0.1.6
mistune==0.8.3
nbconvert==5.3.1
nbdime==0.4.1
nbformat==4.4.0
networkx==2.1
nltk==3.3
notebook==5.5.0
numba==0.39.0
numexpr==2.6.5
numpy==1.14.3
packaging==16.8
pandas==0.22.0
pandocfilters==1.4.2
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.1.0
prompt-toolkit==1.0.15
protobuf==3.6.0
ptyprocess==0.6.0
py==1.4.33
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.0.6
python-dateutil==2.7.3
python-dotenv==0.6.4
pytz==2018.5
PyWavelets==0.5.2
PyYAML==3.13
pyzmq==17.0.0
qtconsole==4.3.1
requests==2.19.1
resampy==0.2.1
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.1.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.10.0
smmap2==2.0.3
style==1.1.0
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
tornado==5.1
traitlets==4.3.2
update==0.0.1
uritools==2.2.0
urlextract==0.8.3
urllib3==1.23
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
whitenoise==3.3.0
widgetsnbextension==3.2.1